influxdb_client==1.34.0
neomodel==4.0.8
numpy==1.23.5
paho_mqtt==1.6.1
pandas==1.5.2
scikit_learn==1.2.1
setuptools==65.5.0
sumolib==1.15.0
traci==1.15.0


# Editable install with no version control
-e transportation_digital_twin/
-e traffic_analyzer/
-e traffic_predictor/
-e turn_predictor/
-e sumo-utils/
-e docker-utils/