paho_mqtt==1.6.1
pandas==1.5.2
setuptools==65.5.0
sumolib==1.15.0
traci==1.15.0

# Editable install with no version control
-e ../transportation_digital_twin/
-e ../traffic_analyzer/
-e ../traffic_predictor/
-e ../turn_predictor/
-e ../sumo-utils/
