pandas
sumolib==1.10.0
traci==1.10.0
paho-mqtt==1.6.1
seaborn
setuptools
matplotlib
sklearn
scikit-learn

# Editable install with no version control
-e /etc/transportation_digital_twin/
-e /etc/traffic_analyzer/
-e /etc/traffic_predictor/
-e /etc/turn_predictor/
-e /etc/sumo-utils/